@model IEnumerable<AudioShop.Data.Models.Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a asp-controller="Products" asp-action="ProductDetails" asp-route-Id="@product.Id">
                    <img class="card-img-top" src="@Url.Content($"{@product.Img}?t={DateTime.Now.Ticks}")" alt="@product.Name" />
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-Id="@product.Id">@product.Name</a>
                    </h4>
                    <h5>@product.Brand</h5>
                    <p class="card-text">@product.ShortDesc</p>
                    <h5>@product.Price.ToString("c")</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Products" asp-action="ProductDetails" asp-route-Id="@product.Id">Детальніше</a>
                    <a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@product.Id">Додати до кошика</a>
                </div>
            </div>
        </div>
    }
</div>